server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/freelaconnect?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "change-this-to-a-long-random-secret"
    expiration-ms: 86400000
  